name: Expo Build

on:
  push:
    branches: [test]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      EXPO_PUBLIC_API_KEY: ${{ secrets.EXPO_PUBLIC_API_KEY }}
      EXPO_PUBLIC_API_BASE_URL: ${{ secrets.EXPO_PUBLIC_API_BASE_URL }}
      EXPO_PUBLIC_GOOGLE_MAPS_API_KEY: ${{ secrets.EXPO_PUBLIC_GOOGLE_MAPS_API_KEY }}
      EXPO_PUBLIC_OLA_MAPS_PROJECT_ID: ${{ secrets.EXPO_PUBLIC_OLA_MAPS_PROJECT_ID }}
      EXPO_PUBLIC_OLA_MAPS_API_KEY: ${{ secrets.EXPO_PUBLIC_OLA_MAPS_API_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Expo CLI
        run: npm install -g expo-cli

      - name: Login to Expo
        uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Build Android APK
        run: npx expo build:android --no-wait=false

      - name: Download APK
        run: |
          APK_URL=$(npx expo url:apk)
          echo "APK_URL=$APK_URL"
          curl -L $APK_URL -o app-release.apk

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: expo-apk
          path: app-release.apk
